/* Estilos existentes */
body {
    background-color: rgb(255, 255, 255); 
    color: rgb(49, 48, 48); 
    margin: 0; 
    padding: 25px; 
    font-family: 'Poppins', sans-serif; 
}

header {
    color: rgb(118, 109, 109); 
    padding: 15px; 
}

.navbar {
    display: flex; 
    justify-content: space-around; 
    list-style: none; 
}

.logo {
    width: 120px; 
    height: 60px; 
    object-fit: cover; 
}

.img-detalle {
    margin: 15%; 
}

.img-perfil {
    width: 200px; 
}

.hero {
    background-image: url('{% static "img/fondo_inicio.png" %}'); 
    background-size: cover; 
    color: rgb(87, 91, 88); 
    text-align: center; 
    padding: 50px 0; 
}

.featured-news {
    padding: 20px; 
    background-color: rgb(194, 200, 194); 
    border-radius: 8px; 
    color: black; 
}

.post-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 10px; 
    margin: 20px auto; 
    max-width: 1200px; 
    padding: 20px; 
}

.post-card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    padding: 15px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    margin: 10px 0; 
}

.post-card img {
    width: 100%; 
    height: auto; 
}

.post-footer {
    display: flex; 
    justify-content: space-between; 
    margin-top: 10px;
}

.social-links, .environment-links {
    display: flex; 
    justify-content: center;
    gap: 15px; 
    margin-top: 5px; 
}

.logout-button {
    background-color: #a9b2a8; 
    color: white; 
    border: none; 
    border-radius: 7px; 
    padding: 7px 12px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.logout-button:hover {
    background-color: #6ef242; 
}

.header-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.btn-nuevo-post {
    margin-left: 20px; 
    display: inline-block;
    background-color: #007BFF; 
    color: white;
    padding: 12px 24px; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    border: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.2s; 
}

.btn-nuevo-post:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

.btn-eliminar-post {
    background-color: #d9534f; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-eliminar-post:hover {
    background-color: #c9302c; 
}

footer .contenedor_redes {
    padding: 20px; 
    display: flex;
    justify-content: left; 
    gap: 15px; 
}

